<h4>{{ pageTitle }}</h4>
<div class="card">
    <div class="card-body">
        
        <button pButton type="button"icon="pi pi-plus" class="ui-button-info" [label]="'Add'"
          pAddRow [table]="dt" [newRow]="newRow()"></button>
          <!-- <p-table  #dt class="table"  [columns]="selectedColumns" [value]="cars" [sortOrder]="-1" [paginator]="true" sortMode="multiple" [rows]="10" editMode="row">
            <ng-template pTemplate="caption">
              <div class="row">
             
                <div class="col-md-6">
                    <div class="search-wrap">
                      <i class="pi pi-search"></i>
                      <input type="text" pInputText size="50" class="search-input" placeholder="Global Filter" (input)="dt.filterGlobal($event.target.value, 'contains')">
                    </div>
                </div>
                <div class="col-md-2">
                  <button (click)="exportToExcel()" class="btn btn-secondary btn-sm float-right">Export To Excel</button> 
                </div>
              </div>
            </ng-template>
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                        {{col.header}}
                        <p-sortIcon [field]="col.field"></p-sortIcon>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns" let-editing="editing" let-ri="rowIndex">
                <tr [pEditableRow]="rowData">
                    <td *ngFor="let col of columns">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                    <input pInputText type="text" [(ngModel)]="rowData[col.field]" required>
                </ng-template>
                <ng-template pTemplate="output">
                    {{rowData[col.field]}}
                </ng-template>
                        
                    </p-cellEditor>
                    </td>
                    <td style="text-align:center">
                        <button *ngIf="!editing" pButton type="button" pInitEditableRow icon="pi pi-pencil" class="ui-button-info" (click)="onRowEditInit(rowData)"></button>
                        <button *ngIf="editing" pButton type="button" pSaveEditableRow icon="pi pi-check" class="ui-button-success" style="margin-right: .5em" (click)="onRowEditSave(rowData)"></button>
                        <button *ngIf="editing" pButton type="button" pCancelEditableRow icon="pi pi-times" class="ui-button-danger" (click)="onRowEditCancel(rowData, ri)"></button>
                    </td>
                </tr>
            </ng-template>
        </p-table> -->
       
       
        <p-table [value]="cars" dataKey="vin" #dt class="table"  [columns]="selectedColumns" [value]="cars" [sortOrder]="-1" [paginator]="true" sortMode="multiple" [rows]="10" editMode="row">
            <ng-template pTemplate="caption">
                <div class="row">
               
                  <div class="col-md-6">
                      <div class="search-wrap">
                        <i class="pi pi-search"></i>
                        <input type="text" pInputText size="50" class="search-input" placeholder="Global Filter" (input)="dt.filterGlobal($event.target.value, 'contains')">
                      </div>
                  </div>
                  <div class="col-md-2">
                    <button (click)="exportToExcel()" class="btn btn-secondary btn-sm float-right">Export To Excel</button> 
                  </div>
                </div>
              </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th>Vin</th>
                    <th>Year</th>
                    <th>Brand</th>
                    <th>Color</th>
                    <th style="width:8em"></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex">
                <tr [pEditableRow]="rowData">
                    <td>
                        {{rowData.vin}}
                    </td>
                    <td>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="text" [(ngModel)]="rowData.year" required>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{rowData.year}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <p-dropdown [options]="brands" [(ngModel)]="rowData.brand" [style]="{'width':'100%'}"></p-dropdown>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{rowData.brand}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="text" [(ngModel)]="rowData.color">
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{rowData.color}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td style="text-align:center">
                        <button *ngIf="!editing" pButton type="button" pInitEditableRow icon="pi pi-pencil" class="ui-button-info" (click)="onRowEditInit(rowData)"></button>
                        <button *ngIf="editing" pButton type="button" pSaveEditableRow icon="pi pi-check" class="ui-button-success" style="margin-right: .5em" (click)="onRowEditSave(rowData)"></button>
                        <button *ngIf="editing" pButton type="button" pCancelEditableRow icon="pi pi-times" class="ui-button-danger" (click)="onRowEditCancel(rowData, ri)"></button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
       

          
      </div>
</div>

